body {
  background-color: darken($color: colors.$primary, $amount: 40);
  padding: 0;
  margin: 0;
  color: #FFF;
  user-select: none;
}

.wrapper {
  display: flex;
  max-width: 100dvw;
  flex-direction: column;
  gap: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  background-color: darken($color: colors.$primary, $amount: 30);
  border-radius: 1rem;
  width: calc(100% - 100px);

  @media (min-width: 1000px) {
    width: calc(100% - 400px);
  }
  @media (min-width: 1600px) {
    width: calc(100% - 800px);
  }
  @media (min-width: 2200px) {
    width: calc(100% - 1200px);
  }
}
